h1 {
font-size: 30px; /* Adjust the font size for h1 */ color: #0072B5; text-align: center;
• container { padding: 20px;
background-color: RGB(245, 246, 247); /* Set the background color to grey */ border: 1px solid #ddd;
• header-container { padding: 10px;
background-color: #00725; /* Blue color for the heading container */ color: white; /* White text color for the heading */ font-size: 17px;
• stButton › button { background: #0072B5;
color: white;

• stButton › button: hover { background-color: #46824;
color: white;
}
/*
Table styles */
. table {
width: 100%;
border-collapse: collapse;
• table th, - table td { padding: 8px;
border: 1px solid #ddd;
/*
Header row styles */
• table thead tr {
background-color: #0072B5; font-family: Arial, sans-serif; font-size: 16px; color: white;